<div class="p-2 mt-5">
  <h1 class="mb-4">WishList</h1>
  <div style="height: 400px;" class="row m-0">
    @for(movie of wishlistService.getWishlist(); track movie.id ; let i = $index){
    <div class="col-md-12 col-lg-6 coulmn mb-4">
      <div class="movie-card">
        <div class="row ">
          <div class="col-md-4">
            <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" alt="Movie Poster">
          </div>
          <div class="col-md-8">
            <div class="movie-details">
              <div class="d-flex  mt-4">
                <h4 class="me-auto">{{movie.title}}</h4>
                <span (click)="removeFromWishlist(movie)" style="cursor: pointer;">
                  <i class="fa-regular fa-heart fa-2x" [class.filled]="wishlistService.isInWishlist(movie)"></i>
                </span>
              </div>
              <p class="sp mt-2">{{movie.release_date |customDate}}</p>
              <div style="position: relative;" class="d-flex mt-3">
                <app-star-rating [rating]="movie.vote_average"></app-star-rating>
                <span style="position: absolute; left: 400px; top: -8px;"
                  class="text-danger mb-2 mt-2">({{movie.vote_count}})</span>
              </div>
              <p class="card-text mt-5">{{ movie.overview }}</p>
            </div>
            <a href="https://www.imdb.com/title/{{movie.imdb_id}}/" class="btn btn-web text-danger link mt-3"
              target="_blank">
              See Now <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    }
    @empty { <div class="col-12 ">
      <div class="empty my-5 text-center">
        <img src="../../assets/heart-slash.png">
        <p class="fs-3">No Movies in watch list </p>
        <button class="btn btn-primary">
          <a routerLink="/">
            Back to Home Page
          </a>

        </button>
      </div>
    </div>

    }
  </div>
</div>