.track,
.filled {
  stroke-width: 9;
  fill: none;
}

.track {
  stroke: rgba(150, 218, 62, 0.85);
  fill: rgb(70, 75, 75);
  opacity: .6;
}

.filled {
  stroke: rgb(65, 134, 218);
  stroke-dashoffset: 94;
  stroke-dasharray: 440;
  /* fill: azure; */
}