.lis{
    background-color: rgb(219, 235, 239);
}
.card {
    padding: 2vw;
}






@media screen and (max-width: 600px) {
    .row-cols-1{
        width: 100%;
        height: 20rem;
    }
}


@media screen and (min-width: 1401px) {
    .row-cols-xlg-5 {
      /* Your custom styles for screens larger than 1400px go here */
      /* For example, you can set the width of each column */
      width: 20%;
      height: 36rem;
    }
}