<div class="col m-4 p-3">
  <ng-container *ngIf="movie else none">
    <app-movie-item-details [movie]="movie"></app-movie-item-details>
  </ng-container>
  <ng-template #none>
    <app-not-found></app-not-found>
  </ng-template>
</div>

<ng-container *ngIf="movie">
  <hr>
  <h1 class="m-4">Recommendations</h1>
  <div *ngIf="movies && movies.length > 0">
    <div style="padding: 2vw;" class="row row-cols-2 row-cols-md-3 row-cols-xlg-6 row-cols-lg-5 g-4">
      <div *ngFor="let movie of movies; let i = index" class="col custom-xlg-6">
        <app-movie-recommend [movie]="movie"></app-movie-recommend>
      </div>
    </div>
  </div>
  <div *ngIf="!movies || movies.length === 0" class="m-4 text-center">
    <div>
      No recommendations available.
    </div>
  </div>
</ng-container>

