
  <form (ngSubmit)="searchMovies()"  class="my-5">
    <div class="input-group">
      <input type="text" class="form-control me-3" [(ngModel)]="searchQuery"  name="searchQuery" id="exampleInput" placeholder="{{ searchQuery }}">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

  <div class="row m-5">
    @for (movie of searchResults; track movie.id; let i = $index){
      <div class="col-3 mt-5 mb-5 pt-3">
        <app-movie-card [movieItem]="movie"></app-movie-card>
      </div>
    }  
  </div>


